@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.eot");
  src: url("Raleway-Regular.eot?#iefix") format("embedded-opentype"),
    url("Raleway-Regular.woff2") format("woff2"),
    url("Raleway-Regular.woff") format("woff"),
    url("Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Medium.eot");
  src: url("Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("Raleway-Medium.woff2") format("woff2"),
    url("Raleway-Medium.woff") format("woff"),
    url("Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
