:root {
  --color-primary: #06e5ff;
  --color-secondary: #161477;

  --color-first: #fff;
  --color-second: #000000;
  --color-third: #bababa;
  --color-fourth: #f7f7f7;

  --shadow-first: 0 0.9em 3.2em rgba(0, 0, 0, 0.09);

  --font-first: "Raleway", sans-serif;
}
